* {
	padding: 0;
	margin: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 96%;
	padding: 1% 1.5%;
	text-align: center;
	height: 100%;
	font-size: 100%;
}

/*Шапка сайта*/

header {
	width: 100%;
}

header .logo {
	width: 14%;
	float: left;
}

header .logo img {
	width: 100%;
}

header .text {
	float: left;
	width: 62%;
	text-align: center;
	font-family: 'Roboto Slab', Georgia, serif;
	padding: 0 4%;
	margin-bottom: 2%;
}

header .text h1 {
	font-size: 2.4vw;
}

header .tel {
	width: 16%;
	text-align: center;
	float: right;
	line-height: 220%;
	padding-top: 1%;
}

header .tel p span {
	font-family: 'Roboto Slab', Georgia, serif;
	text-shadow: 1px 1px 2px black, 0 0 0 black;
	color: #A22E31;
	font-size: 2.2vw;
	font-weight: bold;
}

header .tel p {
	font-family: Arial, sans-serif;
	font-size: 1.8vw;
	font-weight: bold;
}

header .tel p a {
    color: black;
    text-decoration: none;
}

/*Слайдер и меню*/

nav {
	margin-left: 16%;
}

nav ul {
	list-style: none;
}

nav li {
	float: left;
	margin-right: 0.5%;
	margin-bottom: 1%;
}

nav a {
	text-decoration: none;
	color: white;
	font-family: 'Arial Narrow', sans-serif;
	font-size: 1.7vw;
	transition: .5s linear;
	padding: 5px 14px;
	background-color: #A22E31;
	font-weight: bold;
}

nav a:hover {
	background-color: #4D4D4D;
}

.container {
	width: 64%;
	text-align: center;
}

.pd{
	padding:10px;
	background:#B0AFAF;
	float:left;
	clear:both;
	width:100%;
	margin-bottom:10px;
	font-weight: bold;
}

.code_sample{
	float:left;
}

/* ------ Стили для mobilyslider
-----------------------------------------------*/

.slider {
	float:left;
	width: 100%;
	height: 450px;
	position:relative;
	padding-bottom:26px;
	background:url(../gfx/bottom_shadow.png) no-repeat bottom center;
}

.sliderContent {
	float:left;
	width: 100%;
	height: 450px;
	clear:both;
	position:relative;
	overflow:hidden;
	margin-top: 0.6%;
}

.sliderArrows a {
	display:block;
	text-indent:-9999px;
	outline:none;
	z-index:50;
	background-image:url(../gfx/prev_next.png);
	width:42px;
	height:42px;
	position:absolute;
	top:50%;
	margin-top:-34px;
}

.prev {
	background-position:0 0;
	left:15px;
}

.prev:hover {
	background-position:0 -44px;
}

.next {
	right:15px;
	background-position:-44px 0;
}

.next:hover {
	background-position:-44px -44px;
}

.sliderContent .item {
	position:absolute;
	width: 100%;
	height: 450px;
	background:#fff;
}

.sliderBullets {
	position:absolute;
	bottom:0;
	left:50%;
	z-index:50;
	margin-left:-45px;
}

.sliderBullets a {
	display:block;
	float:left;
	text-indent:-9999px;
	outline:none;
	margin-left:5px;
	width:10px;
	height:11px;
	background:url(../gfx/bullets.png) no-repeat;
}

.sliderBullets .active {
	background-position:0 -11px;
}

.sliderContent a {
	outline:none;
}

a {
	color:#fff;
}

a img {
	border:none;
}

.sliderContent .item img {
	width: 100%;
}

/*Правый блок*/

aside {
	width: 32%;
	float: right;
	margin-top: -3%;
	margin-bottom: 2%;
}

aside h2 {
	margin-bottom: 1.5%;
	font-family: 'Roboto Slab', Georgia, serif;
	font-size: 2vw;
}

aside li {
	list-style: none;
	list-style-image: url(images/up_bl.png);
}

aside p {
	font-family: Arial;
	text-align: left;
	font-size: 1.4vw;
	padding-bottom: 0.3%;
}

/*Нижняя галерея*/

h3 {
	clear: both;
	font-family: 'Roboto Slab', Georgia, serif;
	font-size: 2.1vw;
	margin-bottom: 2%;
	padding: 0;
}

.main1 {
	display: block;
	width: 100%;
	clear: both;
	margin-bottom: 2%;
}

.main1 ul {
	list-style: none;
}

h4 {
	padding-top: 2%;
	font-family: 'Roboto Slab', Georgia, serif;
	font-size: 2.3vw;
	padding-bottom: 0.7%;
}

.main1 p {
	font-family: Verdana;
	padding-bottom: 0.7%;
	text-align: left;
	font-size: 1.8vw;
	
}

.main1 img {
	margin-right: 1%;
}

/*Подвал*/

footer {
	width: 100%;
}

footer img {
	width: 104%;
	display: block;
	margin-bottom: 2%;
	margin-left: -2%;
}

.lower {
	width: 12%;
	text-align: left;
	padding-left: 4%;
}

.lower a {
	text-decoration: none;
	color: black;
	font-family: Georgia;
	font-size: 2vw;
	font-weight: bold;
	line-height: 150%;
}

.lower a:hover {
	color: #A22E31;
}

.con {
	width: 22%;
}

.con ul {
	list-style: none;
	font-family: Georgia;
	font-weight: bold;
	font-size: 2.2vw;
	line-height: 150%;
	text-align: left;
}

.con .left {
	float: left;
	margin-left: -2%;
	margin-right: 5%;
}

.con img {
	width: 12%;
}

.con p span {
	font-family: Arial;
	font-size: 2.2vw;
}
	
footer table {
	width: 100%;
	border-collapse: collapse; 
    border: 2px solid white;
	border-spacing: 0;
}

footer td {
	border-collapse: collapse; 
	border: 2px solid white;
}

table tr {
	vertical-align: center;
}

.fon1 {
	width: 11%;
}

.fon1 img {
	width: 100%;
}

.fon2 {
	width: 26%;
}

.fon2 img {
	width: 100%;
}

.fon3 {
	width: 11%;
}

.fon3 img {
	width: 100%;
}

footer p {
	clear: both;
	padding-top: 1%;
}

footer .con p a {
    color: black;
    text-decoration: none;
}

/*Контакты*/

/* === Remove input autofocus webkit === */
*:focus {outline: none;}

.contact_form {
		width: 90%;
		margin-top: 4%;
}

/* === Ширина формы === */
.contact_form p {
    width: 90%;
	margin: 1.5% 5%;
	padding: 0;
}

/* === Размер и расположение блоков === */
.contact_form label {
	width: 27%;
	margin-top: 1%;
	display: inline-block;
	float: left;
}

.contact_form input {
	height: 8%; 
	width: 30%; 
	padding: 1% 2%;
}

.contact_form textarea {padding: 2.5%; width: 65%;}
.contact_form button {margin-left: 1%;}

/* Цвета и эффекты */
.contact_form input, .contact_form textarea { 
	border: 1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius: 2px;
	padding-right: 30px;
	-moz-transition: padding .25s; 
	-webkit-transition: padding .25s; 
	-o-transition: padding .25s;
	transition: padding .25s;
}
.contact_form input:focus, .contact_form textarea:focus {
	background: #fff; 
	border: 1px solid #555; 
	box-shadow: 0 0 3px #aaa; 
	padding-right: 2%;
}

/* === HTML5  === */	
.contact_form input:required, .contact_form textarea:required {
	background: #fff no-repeat 98% center;
}
.contact_form input:required:valid, .contact_form textarea:required:valid {
	background: #fff no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
	background: #fff no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

/* === Стили подсказок === */
.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* подсказки поверх всех элементов */
	position: absolute; /* правильное отображение, если подсказка в 2 строки */
	display: none;
}
.form_hint::before {
	content: "\25C0";
	color: #d45252;
	position: absolute;
	top: 1px;
	left: -6px;
}
.contact_form input:focus + .form_hint {display: inline;}
.contact_form input:required:valid + .form_hint {background: #28921f;}
.contact_form input:required:valid + .form_hint::before {color:#28921f;}
	
/* === Оформление кнопки === */
button.submit {
	background-color: #68b12f;
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
	background: -webkit-linear-gradient(top, #68b12f, #50911e);
	background: -moz-linear-gradient(top, #68b12f, #50911e);
	background: -ms-linear-gradient(top, #68b12f, #50911e);
	background: -o-linear-gradient(top, #68b12f, #50911e);
	background: linear-gradient(to top, #68b12f, #50911e);
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #9fd574;
	-webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
	-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
	-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
	-o-box-shadow: 0 1px 0 0 #9fd574 inset;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	text-shadow: 0 -1px 0 #396715;
	margin-left: 27%;
}
button.submit:hover {
	opacity:.85;
	cursor: pointer; 
}
button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset; 
	-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
	-ms-box-shadow: 0 0 10px 5px #356b0b inset;
	-o-box-shadow: 0 0 10px 5px #356b0b inset;	
}

.ps {
	font-size: 1.4vw;
	clear: both;
	margin-bottom: 1.5%;
}

/*Прайс*/

#list {
	clear: both;
}

#list .search {
	padding: 0.2%;
	margin-bottom: 0.3%;
}

#list .sort {
	padding: 0.2%;
	margin-bottom: 0.3%;
}

#list table {
	width: 70%;
	border-collapse: collapse;
	margin-left: 15%;
}

#list table tr, th, td {
	border: 1px solid black;
	padding: 0.7%;
	font-size: 2vw;
}

#list .name {
	width: 51%;
	text-align: left;
	padding: 0.5%;
}

#list .si {
	width: 5%;
}

#list .price {
	width: 9%;
}

#list table th {
	
}

.text .top {
	font-size: 1.4vw;
	text-align: right;
	margin-top: 3%;
}

.list .union {
	background-color: #B3B3B3;
}

/*Советы мастера*/

.tips p {
	font-family: Arial;
	font-size: 1.4vw;
	text-align: justify;
	text-indent: 1.2em;
	line-height: 1.4em;
}

.tips .cntr {
	text-align: center;
}

.tips .cntr span {
	font-weight: bold;
}

.tips p img {
	width: 2.2%;
}

.tips p .not {
	margin-left: -1.2em;
}

.tips a {
    color: black;
    text-decoration: none;
}

.tips a:hover {
    color: blue;
    text-decoration: underline;
}

.tips .pictures1 {
	float: left;
	width: 25%;
}

.tips .pictures2 {
	float: left;
	width: 10%;
}

.tips .pictures3 {
	float: right;
	width: 11%;
	margin-right: -1.6%;
	padding-left: 0.8%;
}

.tips .scroll {
	text-align: left;
	font-family: Arial;
	font-size: 1.4vw;
	margin-left: 4%;
}

.tips .scroll li {
	padding-left: 1%;
}

h5 {
	font-size: 1.8vw;
	margin-bottom: 0.7em;
}

p span {
	font-weight: bold;
	font-size: 1.8vw;
}

/*Работы*/

#projects {
	width: 100%;
	clear: both;
}

#projects .folders {
	float: left;
	width: 19%;
	margin: 0 0% 1% 1%;
}

#projects .folders img {
	width: 100%;
}

#projects .folders a {
	font-family: Georgia;
	color: black;
	font-size: 1.7vw;
	text-decoration: none;
}

#projects .folders a:hover {
	color: #A22E31;
}

#projects .folders_down {
	clear: both;
	float: left;
	width: 19%;
	margin: 0 0% 1% 1%;
}

#projects .folders_down img {
	width: 100%;
}

#projects .folders_down a {
	font-family: Georgia;
	color: black;
	font-size: 1.7vw;
	text-decoration: none;
}

#projects .folders_down a:hover {
	color: #A22E31;
}

/*Хлебные крошки*/

.top_menu ul {
    margin: 1.5% 0 0 1.5%; 
	padding: 0;
	list-style-type: none;
	text-align: left;
}

.top_menu ul li {
	display: inline-block;
}

.line1:after {
	content: "/"
}

.top_menu a {
	color: black;
}

.top_menu a:hover {
	color: #A22E31;
}

/*Ошибка 404*/

.error {
	height: 100%;
	background-image: url(images/fon_404.png);
}

.error .per {
	font-family: Arial;
	font-weight: bold;
	font-size: 4vw;
}

/*Медиа запросы*/

@media (min-width: 1300px) {
    aside {
    	margin-top: -6%;
    }
    header .text {
	    margin-bottom: 4%;
    }
    nav li {
	    margin-bottom: 2%;
    }
    .ps {
    	margin-top: 5%;
    }
}

@media screen and (max-width: 700px) {
	header .logo {
		display: none;
	}
	header .text {
		width: 70%;
		margin-bottom: 3%;
	}
	header .text h1 {
		font-size: 4vw;
	}
	header .tel {
		width: 21%;
		line-height: 98%;
		padding-top: 1.4%;
	}
	header .tel p span {
		font-size: 3.3vw;
	}	
	header .tel p {
		font-size: 2.4vw;
	}
	nav {
		clear: both;
		margin-left: 1%;
	}
	nav a {
		font-size: 3.8vw;
		transition: .5s linear;
		padding: 3px 9px;
	}
	.container {
		width: 100%;
	}
	.slider {
		height: 250px;
		padding-bottom: 6px;
	}
	.sliderContent {
		height: 250px;
	}
	.sliderContent .item {
		height: 250px;
	}
	aside {
		width: 90%;
		float: right;
		margin-top: 1.5%;
		margin-bottom: 1.5%;
	}	
	aside li {
		list-style: none;
		list-style-image: url(images/up_bl.png);
	}
	aside p {
		font-size: 4.5vw;
		padding-bottom: 0.3%;
	}
	aside h2 {
		font-size: 5vw;
	}
	h3 {
		font-size: 4.9vw;
	}
	h4 {
		font-size: 4.9vw;
	}
	.main1 p {
		font-size: 4.13vw;
	}
	.fon2 {
	display: none;
	}
	.lower a {
		font-size: 3.2vw;
	}
	.con ul {
		font-size: 3.2vw;
	}
	.con p span {
		font-size: 3.2vw;
	}
	#list .search {
		width: 40%;
	}
	#list .sort {
		width: 53%;
	}
	#list table {
		width: 96%;
		margin-left: 0%;
	}
	#list table tr, th, td {
		font-size: 3vw;
	}
	.tips p {
	font-size: 3.8vw;
	}
	.tips .cntr span {
		font-size: 4vw;
	}
	.tips p img {
		width: 4%;
	}
	.tips .pictures1 {
		width: 30%;
	}
	.tips .pictures2 {
		width: 30%;
	}
	.tips .pictures3 {
		width: 30%;
	}
	.tips .scroll {
		font-size: 3.8vw;
	}
	h5 {
		font-size: 4.2vw;
	}
	p span {
		font-size: 4.2vw;
	}
	.contact_form {
		width: 130%;
		clear: both;
	}
	.contact_form p {
		width: 100%;
	}
	.contact_form label {
		width: 100%;
	}
	.contact_form input {
		width: 85%; 
	}
	.contact_form textarea {
		width: 80%;
		}
	button.submit {
		margin-left: 2%;
	}
	button.submit:hover {
		opacity:.85;
		cursor: pointer; 
	}
	.ps {
		font-size: 4vw;
	}
	footer p {
		font-size: 3vw;
	}
}